<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odiousrainbow.leftovers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odiousrainbow.leftovers.MainActivity" />
        </activity>
        <activity android:name=".DishDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odiousrainbow.leftovers.MainActivity" />
        </activity>
        <activity android:name=".FeedbackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odiousrainbow.leftovers.MainActivity" />
        </activity>
        <activity android:name=".UpgradeToProActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odiousrainbow.leftovers.MainActivity" />
        </activity>
        <activity android:name=".AddStuffActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odiousrainbow.leftovers.MainActivity" />
        </activity>
        <activity android:name=".AddStuffDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.odiousrainbow.leftovers.AddStuffActivity" />
        </activity>
    </application>

</manifest>